<h2>Base</h2>

<h1>H1 Title</h1>
<h2>H2 Title</h2>
<h3>H3 Title</h3>
<h4>H4 Title</h4>
<h5>H5 Title</h5>
<h6>H6 Title</h6>

<p>Curso de Angular enfoado en la creacion d eun ecommerce</p>

<h3>Links</h3>

<a class="app-a">Link 1</a>
<a class="app-a">Link 2</a>
<a class="app-a">Link 3</a>
<a class="app-a">Link 4</a>

<h3>Botones</h3>

<button class="app-button">Boton</button>

<h3>Code</h3>

<code>const parameter = 100</code>

<h3>Input</h3>

<input class="app-input" type="text" />

<h2>Mixins</h2>
<h3>Shadow</h3>

<div class="shadow">Shadow mixins</div>

<h3>Card</h3>

<div class="card">card mixin</div>
